<configuration>
    <!-- define a console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- the encoder is responsible for formatting the log output -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the global log level to DEBUG, -->
    <!-- which will display logs of DEBUG and above (including INFO, WARN, ERROR) -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>